{% load static %}
{% load mptt_tags %}
{% load remove_new_lines%}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Дерево отделов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <![endif]-->


  </head>

  <body>

    <div class="container">

        {% block content %}{% endblock %}

    <ul id="myUL">
        {% recursetree object_list %}
            <li>
                <span class="caret parent"><h3>{{ node.name }}</h3></span>
                <br>
                {% for employee in node.employees.all %}
                    <div class="nav-list">
                    <ol>{{ employee }} - {{ employee.position }}</ol>
                    </div>
                {% endfor %}
                <br>
                <ul class="nested">
                    {{ children }}
                </ul>
            </li>
        {% endrecursetree %}
    </ul>




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/assets/js/bootstrap-transition.js"></script>
    <script src="/static/assets/js/bootstrap-alert.js"></script>
    <script src="/static/assets/js/bootstrap-modal.js"></script>
    <script src="/static/assets/js/bootstrap-dropdown.js"></script>
    <script src="/static/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/static/assets/js/bootstrap-tab.js"></script>
    <script src="/static/assets/js/bootstrap-tooltip.js"></script>
    <script src="/static/assets/js/bootstrap-popover.js"></script>
    <script src="/static/assets/js/bootstrap-button.js"></script>
    <script src="/static/assets/js/bootstrap-collapse.js"></script>
    <script src="/static/assets/js/bootstrap-carousel.js"></script>
    <script src="/static/assets/js/bootstrap-typeahead.js"></script>

    </div>
  </body>
</html>