{% extends "employee_list/base.html" %}
{% load mptt_tags %}

{% block content %}
{#<div>#}
{#    <div>#}
{#        <ul>#}
{#        {% recursetree object_list %}#}
{#            <li>#}
{#                <h3>{{node.name}}</h3>#}
{#                {% for employee in node.employees.all %}#}
{#                    <ol>{{ employee }} - {{ employee.position }}</ol>#}
{#                {% endfor %}#}
{#                {% if not node.is_leaf_node %}#}
{#                <ul class="children">#}
{#                    {{ children }}#}
{#                </ul>#}
{#                {% endif %}#}
{#            </li>#}
{#        {% endrecursetree %}#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
{% endblock %}